name: Validate Home Assistant config

on: [push]

jobs:
  detect-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: echo "::set-env name=HA_VERSION::$(cat config/.HA_VERSION)"
  main:
    runs-on: ubuntu-latest
    container: homeassistant/home-assistant:${{ env.HA_VERSION }}
    steps:
    - uses: actions/checkout@v1
    - run: |
        mv ./config/secrets.template.yaml ./config/secrets.yaml
        python -m homeassistant --config config --script check_config --info all
