name: Validate Home Assistant config

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: docker://homeassistant/home-assistant:0.97.2
    - name: Build the Docker image
      run: python -m homeassistant --config ./config --script check_config --info all

name: Python package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7]

    steps:
    - uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install homeassistant colorlog
    - name: Validate HASS config 
      run: |
        python -m homeassistant --config ./config --script check_config --info all
