name: Validate Home Assistant config

on: [push]

jobs:
  detect-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
  main:
    runs-on: ubuntu-latest
    container: ${{ env.IMAGE_NAME }}
    steps:
    - uses: actions/checkout@v1
    - run: |
        mv ./config/secrets.template.yaml ./config/secrets.yaml
        python -m homeassistant --config config --script check_config --info all
    env:
      IMAGE_NAME: homeassistant/home-assistant:latest
