name: Validate Home Assistant config

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: docker://homeassistant/home-assistant:0.97.2
    - name: Build the Docker image
      run: python -m homeassistant --config ./config --script check_config --info all