name: Validate HASS config
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repository
      uses: actions/checkout@v1
    - name: Validate HASS config
      uses: docker://homeassistant/home-assistant:0.97.2
      # run: python -m homeassistant --config config --script check_config --info all
