name: Validate Home Assistant config

on: [push]

jobs:
  main:
    runs-on: ubuntu-latest
    container: homeassistant/home-assistant:stable
    steps:
    - name: Clone repository
      uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install homeassistant colorlog
    - name: Validation
      run: |
        mv ./config/secrets.template.yaml ./config/secrets.yaml
        python -m homeassistant --config config --script check_config --info all
