name: Validate Home Assistant config

on: [push]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - id: vars
        run: echo "::set-env name=IMAGE_NAME::"homeassistant/home-assistant:$(cat config/.HA_VERSION)""
      - run: |
          mv ./config/secrets.template.yaml ./config/secrets.yaml
          docker pull ${{ steps.vars.outputs.IMAGE_NAME }}
          docker run -it -d ${{ steps.vars.outputs.IMAGE_NAME }} -v ./config:/config python -m homeassistant --config config --script check_config --info all
