name: Validate Home Assistant config

on: [push]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - id: vars
        run: echo "::set-env name=IMAGE_NAME::echo "homeassistant/home-assistant:$(cat config/.HA_VERSION)""
      - uses: ${{ steps.vars.outputs.IMAGE_NAME }}
        run: |
          mv ./config/secrets.template.yaml ./config/secrets.yaml
          python -m homeassistant --config config --script check_config --info all
